h1
{
	font-size: 50px;
    background-color: lightblue;
    color: navy;
}

.text
{
	font-size: 28px;
	color: orange;
}

.buttonstyle
{
	font-size: 60px;
}

button
{
	background-color:yellow;
}

.yamaha
{
	background-color: red;
	border-style: solid;
	border-width: 4px;
	border-radius: 20px;
}

.kawazaki
{
	background-color: gray;
	border-style: solid;
	border-width: 4px;
	border-radius: 20px;
}

.home
{
	background-color: gray;
	border-style:double;
	border-width: 5px;
	border-radius: 20px;
}

.tbyamaha
{
	background-color: green;
	border-style: solid;
	border-width: 4px;
	border-radius: 20px;
	font-size: 30px;
}

.tbkawasaki
{
	background-color: darkblue;
	font-size: 30px;
	border-color: green;
	border-style: solid;
	border-width: 4px;
	border-radius: 20px;
}

